.MuiTabs-indicator {
    display: flex;
    justify-content: left;
    background-color: transparent;
  }
  
  .MuiTabs-indicatorSpan {
    max-width: 8dvw;
    width: 100%;
    background-color: yellow;
  }
  
  .tab {
    text-transform: none;
    font-weight: 400;
    font-size: 15px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 1);
  }
  
  .tab.Mui-selected {
    color: yellow;
  }